/* General styles */
body {
  text-align: center;
  padding: 50px;
  color: #1f1f1d;
}

.gif-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gif-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  color: white;
}

.h1 {
  width: 500px;
  height: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.no-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

.hidden-no-button {
  display: none;
}

.no-button:active {
  transform: scale(calc(var(--scale) * 0.8));
}

.yes-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Add media queries to adjust styles for different screen sizes */
@media (max-width: 600px) {
  .gif-container {
      width: calc((100vw / 16) * 10);
      height: calc((100vw / 16) * 10);
  }

  .h1 {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .button-container {
      flex-direction: column;
  }
}

@media (max-width: 375px) {
  body {
    padding: 20px;
  }

  .gif-container {
    width: calc((100vw / 16) * 8);
    height: calc((100vw / 16) * 8);
  }

  .h1 {
    font-size: 0.8rem;
  }

  .button-container button {
    font-size: 18px;
    padding: 8px 16px;
  }
}